extends layout

block main
  section.album-list-container
    dl.album-list
      dt#album-edit.album-list-items
        a(href='/albums') ↩ Back to albums

  h2 Create a new photo album.
  form.forms(action='/new_album' method='post')
    dl
      dt
        label(for='albumName') Enter the name of the album:
      dd
        input.search(type='text'
              id='albumName'
              name='albumName'
              placeholder='e.g kangaroo photos')

    fieldset.actions
      input.buttons.generate(type='submit' value='+ album')